
@media only screen and (max-width: 600px) {
    .mt-5{
        margin-top: 1rem !important;
    }

    .row {
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .row>* {
        width: auto;
    }

    #questionQuizContainter {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}